.recipe__delete{
    padding: 20px;
    align-self: flex-end;
    margin: 5px 10px;
    background: transparent url(../../../assets/delete-button.svg) no-repeat center;
    border: none;
    outline: none;
}


.recipe__delete:hover{
    opacity: 0.6;
    cursor: pointer;
}
