.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

@media screen and (max-width: 768) {
    .header{
        width: 70%;
    }
}
